@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Regular.woff2), url(../fonts/Gilroy-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Bold.woff2), url(../fonts/Gilroy-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trebuchet-MS";
    src: url(../fonts/Trebuchet-MS-Regular.woff2), url(../fonts/Trebuchet-MS-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trebuchet-MS";
    src: url(../fonts/Trebuchet-MS-Bold.woff2), url(../fonts/Trebuchet-MS-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HansHand";
    src: url(../fonts/HansHand-Italic.woff2), url(../fonts/HansHand-Italic.woff);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Forum";
    src: url(../fonts/Forum-Regular.woff2), url(../fonts/Forum-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}